body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/background.webp'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

.container {
  display: flex;
  flex-direction: column; /* Asegura que los formularios se apilen */
  justify-content: center;
  align-items: center;
  width: 400px; /* Ajusta el tamaño para un diseño más compacto */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Añade padding para evitar que el contenido esté pegado al borde */
}

.form-container {
  display: none; /* Oculta todos los formularios por defecto */
  width: 100%; /* Asegura que ocupen todo el ancho del contenedor */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container.active {
  display: flex; /* Solo el formulario activo será visible */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #00bfa5;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button.toggle-btn {
  margin-top: 10px;
  background-color: transparent;
  color: #00bfa5;
  border: none;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}