body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('imagenes/background.webp'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

.container {
  display: flex;
  flex-direction: column; /* Asegura que los formularios se apilen */
  justify-content: center;
  align-items: center;
  width: 400px; /* Ajusta el tamaño para un diseño más compacto */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Añade padding para evitar que el contenido esté pegado al borde */
}

.form-container {
  display: none; /* Oculta todos los formularios por defecto */
  width: 100%; /* Asegura que ocupen todo el ancho del contenedor */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container.active {
  display: flex; /* Solo el formulario activo será visible */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #00bfa5;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button.toggle-btn {
  margin-top: 10px;
  background-color: transparent;
  color: #00bfa5;
  border: none;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.menu-container {
  display: flex;
  gap: 20px; /* Espaciado entre los cuadros */
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #00bfa5;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.menu-item:hover {
  background-color: #008f7a;
  transform: scale(1.05);
}

.menu-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.menu-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}